<a href="https://colab.research.google.com/github/TrabalhoAPC2021-02/Trabalho_Final/blob/main/arquivos/02_salarios_CLT_Terceirizado_simplificado_Funil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # importando a biblioteca pandas para leitura de dados
import plotly.graph_objects as go
import plotly.express as px

In [2]:
# definindo um dataframe a partir do arquivo 
# definindo um dataframe a partir do arquivo 
url = 'https://raw.githubusercontent.com/TrabalhoAPC2021-02/Trabalho_Final/main/arquivos/02.1_salarios_CLT_Terceirizado.xlsx'
df = pd.read_excel(url)

#df = pd.read_excel(io.BytesIO(uploaded['sala.xlsx'])) 
df

                            Cargo  Especialidade    CLT  Terceiro
0                AD Adm. de Dados                  7415    9743.0
1                      Adm. Cloud                  5129    5901.0
2                    Adm. de rede                  4859    6223.0
3   Adm. De Sistemas / Aplicações                  6084    7281.0
4                     Agile Coach                 11715   13221.0
..                            ...            ...    ...       ...
79                    Programador  Visual Studio   5149    6636.0
80       Recrutador(a) RH para TI                  3623    5016.0
81            Técnico de Hardware                  2053    2399.0
82             Tecnico de Suporte                  2144    2944.0
83                   Web Designer                  3211    4037.0

[84 rows x 4 columns]

In [3]:
# vendo valores repetidos

df['Cargo'].value_counts()

Analista Programador             10
Programador                      10
Analista de Suporte               6
Analista de sistemas              5
Consultor especialista            2
Operador / Scheduller             2
Analista de produção              2
AD Adm. de Dados                  1
Estagiário                        1
Consultor ERP                     1
Coordenador de projetos           1
Coordenador de Suporte            1
Coordenador de testes             1
DBA Adm. Base de Dados            1
Engenheiro de Sistemas            1
Engenheiro de Telecom             1
Gerente de Contas                 1
Assistente de Informática         1
Gerente de operação               1
Gerente de Projetos               1
Gerente de Sistemas               1
Gerente de Suporte                1
Instrutor                         1
Lider de Projetos                 1
Lider Técnico                     1
Recrutador(a) RH para TI          1
Técnico de Hardware               1
Tecnico de Suporte                1
Auditor de Sistemas               1
Analista Segurança Sistemas       1
Arquiteto de Sistemas             1
Adm. Cloud                        1
Adm. de rede                      1
Adm. De Sistemas / Aplicações     1
Agile Coach                       1
Agile Master                      1
Analista de Aplicações            1
Analista de BI / Big Data         1
Analista de Governança            1
Analista de Implantação           1
Analista de Infraestrutura        1
Analista de Integração            1
Analista de monitoramento         1
Analista de Negócios              1
Analista de processos             1
Analista de Projetos              1
Analista de Qualidade             1
Analista de Requisitos            1
Analista de segurança             1
Analista de Telecomunicações      1
Analista de testes                1
Analista Funcional                1
Analista Microinformática         1
Web Designer                      1
Name: Cargo, dtype: int64

In [4]:
# criando um data frame para os cargos mais repetidos

programador = df[df['Cargo'] == 'Programador']
anpro = df[df['Cargo'] == 'Analista Programador']
ansup = df[df['Cargo'] == 'Analista de Suporte']
ansis = df[df['Cargo'] == 'Analista de sistemas']

In [5]:
programador

          Cargo  Especialidade   CLT  Terceiro
70  Programador             C#  4859    6636.0
71  Programador           Java  5681    7626.0
72  Programador            PHP  3751    4989.0
73  Programador         Delphi  3200    4096.0
74  Programador   Visual Basic  2489    3102.0
75  Programador           ABAP  6111    8012.0
76  Programador          Cobol  3758    4998.0
77  Programador    Java Script  2868    3528.0
78  Programador         Python  3998    4758.0
79  Programador  Visual Studio  5149    6636.0

In [6]:
anpro

                   Cargo  Especialidade   CLT  Terceiro
36  Analista Programador             C#  6569    9111.0
37  Analista Programador           Java  6996    8858.0
38  Analista Programador            ASP  4223    5633.0
39  Analista Programador      Mainframe  5177    6988.0
40  Analista Programador            PHP  4403    5267.0
41  Analista Programador            C++  5714    7320.0
42  Analista Programador           ABAP  7597    9853.0
43  Analista Programador         Python  4711    5927.0
44  Analista Programador         Delphi  4501    5844.0
45  Analista Programador  Oracle PL/SQL  6638    8655.0

In [7]:
ansup

                  Cargo Especialidade   CLT  Terceiro
26  Analista de Suporte     Mainframe  5301    6149.0
27  Analista de Suporte          Unix  4872    5798.0
28  Analista de Suporte           ERP  3675    4190.0
29  Analista de Suporte         Redes  3427    4304.0
30  Analista de Suporte       Windows  2939    3644.0
31  Analista de Suporte         Linux  2918    3203.0

In [8]:
ansis

                   Cargo  Especialidade   CLT  Terceiro
21  Analista de sistemas      Mainframe  6201    7689.0
22  Analista de sistemas             C#  6502    8413.0
23  Analista de sistemas           Java  8085   12401.0
24  Analista de sistemas            PHP  4664    6035.0
25  Analista de sistemas  Oracle PL/SQL  6822    8629.0

In [9]:
# tratando os dados para calcular a soma e a media
# para terceirizado

t_programador = programador['Terceiro'].tolist()
t_anpro = anpro['Terceiro'].tolist()
t_ansup =ansup['Terceiro'].tolist()
t_ansis = ansis['Terceiro'].tolist()

# usando o for para criar uma média para cada cargo

soma_t_pro = 0
for i in range (len(t_programador)):
  soma_t_pro = soma_t_pro + t_programador[i]
media_pro = soma_t_pro/len(t_programador)
print('Terc_programador',soma_t_pro, media_pro)

soma_t_anpro = 0
for i in range (len(t_anpro)):
  soma_t_anpro = soma_t_anpro + t_anpro[i]
media_anpro = soma_t_anpro/len(t_anpro)
print('Terc_analista_programador',soma_t_anpro, media_anpro)

soma_t_ansup = 0
for i in range (len(t_ansup)):
  soma_t_ansup = soma_t_ansup + t_ansup[i]
media_ansup = soma_t_ansup/len(t_ansup)
print('Terc_analista_suporte', soma_t_ansup, media_ansup)

soma_t_ansis = 0
for i in range (len(t_ansis)):
  soma_t_ansis = soma_t_ansis + t_ansis[i]
media_ansis = soma_t_ansis/len(t_ansis)
print('Terc_analista_sistemas',soma_t_ansis, media_ansis)

Terc_programador 54381.0 5438.1
Terc_analista_programador 73456.0 7345.6
Terc_analista_suporte 27288.0 4548.0
Terc_analista_sistemas 43167.0 8633.4

In [10]:
# criando um novo dataframe
# para terceirizado

column = ['Cargo', 'Terceiro']
line = ['', '','','']
dados = [['Analista de Suporte', media_ansup], ['Programador', media_pro]
         , ['Analista programador', media_anpro], ['Analista de sistemas', media_ansis]]
tb_terceiro = pd.DataFrame(data=dados, index=line, columns=column) 
print(tb_terceiro)

                 Cargo  Terceiro
   Analista de Suporte    4548.0
           Programador    5438.1
  Analista programador    7345.6
  Analista de sistemas    8633.4

In [11]:
# tratando os dados para calcular a soma e a media
# para o CLT

clt_programador = programador['CLT'].tolist()
clt_anpro = anpro['CLT'].tolist()
clt_ansup =ansup['CLT'].tolist()
clt_ansis = ansis['CLT'].tolist()

soma_clt_pro = 0
for i in range (len(clt_programador)):
  soma_clt_pro = soma_clt_pro + clt_programador[i]
media_clt_pro = soma_clt_pro/len(clt_programador)
print('CLT_programador', soma_clt_pro, media_clt_pro)

soma_clt_anpro = 0
for i in range (len(clt_anpro)):
  soma_clt_anpro = soma_clt_anpro + clt_anpro[i]
media_clt_anpro = soma_clt_anpro/len(clt_anpro)
print('CLT_analista_programador', soma_clt_anpro, media_clt_anpro)

soma_clt_ansup = 0
for i in range (len(clt_ansup)):
  soma_clt_ansup = soma_clt_ansup + clt_ansup[i]
media_clt_ansup = soma_clt_ansup/len(clt_ansup)
print('CLT_analista_suporte', soma_clt_ansup, media_clt_ansup)

soma_clt_ansis = 0
for i in range (len(clt_ansis)):
  soma_clt_ansis = soma_clt_ansis + clt_ansis[i]
media_clt_ansis = soma_clt_ansis/len(clt_ansis)
print('CLT_analista_sistemas',soma_clt_ansis, media_clt_ansis)

CLT_programador 41864 4186.4
CLT_analista_programador 56529 5652.9
CLT_analista_suporte 23132 3855.3333333333335
CLT_analista_sistemas 32274 6454.8

In [12]:
# criando um novo dataframe
# para o CLT
column = ['Cargo', 'CLT']
line = ['', '','','']
dados = [['Analista de Suporte', media_clt_ansup], ['Programador', media_clt_pro]
         , ['Analista programador', media_clt_anpro], ['Analista de sistemas', media_clt_ansis]]
tb_clt = pd.DataFrame(data=dados, index=line, columns=column) 
print(tb_clt)

                 Cargo          CLT
   Analista de Suporte  3855.333333
           Programador  4186.400000
  Analista programador  5652.900000
  Analista de sistemas  6454.800000

In [13]:
fig = go.Figure()

fig.add_trace(go.Funnel(name='Terceiro', y=tb_terceiro['Cargo'], x=tb_terceiro['Terceiro']))

fig.add_trace(go.Funnel(name='CLT', orientation='h', y=tb_clt['Cargo'], x=tb_clt['CLT']))


fig.update_layout(title='Comparação entre salários de contratados pela CLT e salários de terceirizados', template='plotly_dark')
fig.show()